@css {
/*
	Theme Name: Pablo Angel
	Theme URL: pabloangel.me
	Descripción: 
	Author: Team Pablo
	Author URL: http://www.pabloangel.me
	Version: 1.0.0
*/
}
//################################################################
//	Import Generales
//################################################################
@import 'setup/utils'
@import 'setup/palette'
@import 'setup/fonts'
@import 'setup/normalize'
@import 'setup/bootstrap'
@import 'setup/settings'
@import 'setup/icons'
@import 'setup/animation'
@import 'setup/flexbox'
//################################################################
//	Import Libs
//################################################################
@import 'setup/libs/bxslider'
@import 'setup/libs/powertip'
@import 'setup/libs/nprogress'
//################################################################
//	Import Partes de Modulos
//################################################################
@import 'core/layout'