//#######################################################################
//
//	Fonts
//
//#######################################################################
//	ICONS
//#######################################################################
@font-face
	font-family: 'icomoon'
	src:url('../fonts/icons/icomoon.eot?1u8haq')
	src:url('../fonts/icons/icomoon.eot?1u8haq#iefix') format('embedded-opentype'),
		url('../fonts/icons/icomoon.ttf?1u8haq') format('truetype'),
		url('../fonts/icons/icomoon.woff?1u8haq') format('woff'),
		url('../fonts/icons/icomoon.svg?1u8haq#icomoon') format('svg')
	font-weight: normal
	font-style: normal


//#######################################################################
//	ROBOTO
//#######################################################################
@font-face
	font-family: 'robotobold'
	src:url('../fonts/roboto/bold/roboto-bold-webfont.woff2') format('woff2'),
		url('../fonts/roboto/bold/roboto-bold-webfont.woff') format('woff')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'robotolight'
	src:url('../fonts/roboto/light/roboto-light-webfont.woff2') format('woff2'),
		url('../fonts/roboto/light/roboto-light-webfont.woff') format('woff')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'robotoregular'
	src:url('../fonts/roboto/regular/roboto-regular-webfont.woff2') format('woff2'),
		url('../fonts/roboto/regular/roboto-regular-webfont.woff') format('woff')
	font-weight: normal
	font-style: normal