//#######################################################################
//
//	PALETTE
//
//#######################################################################

palette-black-1 = #161921
palette-black-2 = #191D26
palette-black-3 = #1C202A
palette-black-4 = #1F242F
palette-black-5 = #222733

palette-white-1 = #97A2B2
palette-white-2 = #B9C3CF
palette-white-3 = #E8EFF4
palette-white-4 = #F1F5F8
palette-white-5 = #FBFBFB

palette-other-1 = #728197
palette-other-2 = #364150
palette-other-3 = #F73D5E
palette-other-4 = #00CC94
palette-other-5 = #FFFFFF

palette-special = #00BA87

palette-google = #DD4B39
palette-facebook = #3B5998
palette-twitter = #6CDFEA
palette-google-hover = #BF4131
palette-facebook-hover = #334D83
palette-twitter-hover = #5DC1CA
