//#######################################################################
//
//	SETTINGS
//
//#######################################################################
html,body
	height: 100%

body
	background-color: palette-black-5
	color: palette-text-1
	font-family: 'robotoregular', Helvetica, Arial, sans-serif
	font-size: 16px
	line-height: 1.42857143

::selection
	background-color: palette-black-8
	color: palette-text-2

h1,h2,h3,h4,h5,h6
.h1,.h2,.h3,.h4,.h5,.h6
	font-family: 'robotoregular', Helvetica, Arial, sans-serif
